.shot {
  position: absolute;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 450px;
  height: 450px;
  background-color: rgb(185, 193, 191);
  left: 650px;
  bottom: 250px;
  gap: 10px;
}
.sqr {
  border-radius: 5px;
  color: rgb(21, 2, 2);
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 251, 19);
  font-size: 55px;
  font-weight: 700;
}
.sht {
  position: absolute;
  font-weight: 700;
  left: 750px;
  top: 170px;
}
.sht1 { font-size: 75px;
  font-weight: 700;
}
