.numb {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 210px;
  gap: 5px;
}
.btn-danger {
  font-size: 25px;
  font-weight: 700;
  color: yellow;
  background: red;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.actions {
  padding-left: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.calc {
  margin-top: 50px;
  box-shadow: 12px 9px 17px 6px #ded9d9;
  background: rgba(216, 214, 214, 0.526);
  margin-left: 100px;
  border: solid 1px;
  width: 320px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
.rez {
  box-shadow: 12px 9px 17px 6px #ded9d9;
  width: 320px;
  height: 60px;
  background: blue;
  margin-left: 100px;
  border-radius: 20px;
  border: solid 3px;
  margin-top: 30px;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: white;
}
.rez1 {
  display: flex;
  color: white;
  justify-content: center;
  box-shadow: 12px 9px 17px 6px #ded9d9;
  width: 320px;
  height: 60px;
  background: blue;
  margin-left: 100px;
  border-radius: 20px;
  border: solid 3px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
}
